#md_text {
  margin: 20px 5px 5px 5px;
}
#modal_btn1{
  text-align: center;
}
.modal_wrap{
  display: none;
  width: 500px;
  height: 500px;
  position: absolute;
  top:50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  background:#eee;
  z-index: 2;
}
.black_bg{
  display: none;
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0,0,.5);
  top:0;
  left: 0;
  z-index: 1;
}
.modal_close {
  width: 25px;
  height: 25px;
  background-color: red;
  border: 1px solid rgb(255, 255, 255);
  float: right;
  cursor: pointer;
}
.mdiv {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
  Z-index: 1;
}
.md {
  height: 25px;
  width: 2px;
  background-color: rgb(255, 255, 255);
  transform: rotate(90deg);
  Z-index: 2;
}
.modal_close> a{
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}

#headertitle {
  font-size: 40px;
  }
  table {
    margin: auto;
    border-collapse:collapse; 
    border-left:skyblue 2px solid; 
    border-top:skyblue 2px solid; 
    text-align:center;
  }
  td {
    border: black 1px solid; 
    margin:0;
  }
  label {
    border:rgb(165, 243, 39) 1px solid;
    padding: 0px 10px 0px 10px;
    cursor:pointer;
  }
  p {
    text-align:center;
  }
  [type="number"] {
    width: 75px;
  }
  [type="radio"] {
    display: none;
  }
  [type="radio"]:checked + label{
    border:blue 1px solid;
  }
  .adtop1 {
    width: 728px;
    margin: 0 auto;
  }
